<%= form_for(@fitness_report) do |f| %>
  <% if @fitness_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fitness_report.errors.count, "error") %> prohibited this fitness_report from being saved:</h2>

      <ul>
      <% @fitness_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fitness_report_id %><br>
    <%= f.text_field :fitness_report_id %>
  </div>
  <div class="field">
    <%= f.label :fitness_patient_id %><br>
    <%= f.text_field :fitness_patient_id %>
  </div>
  <div class="field">
    <%= f.label :fitness_test_date %><br>
    <%= f.date_select :fitness_test_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
