<p id="notice"><%= notice %></p>

<p>
  <strong>Moddate:</strong>
  <%= @ohm_pft.moddate %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @ohm_pft.ssn %>
</p>

<p>
  <strong>Ohm height:</strong>
  <%= @ohm_pft.ohm_height %>
</p>

<p>
  <strong>Ohm weight:</strong>
  <%= @ohm_pft.ohm_weight %>
</p>

<p>
  <strong>Ohm bp:</strong>
  <%= @ohm_pft.ohm_bp %>
</p>

<p>
  <strong>Ohm fvc:</strong>
  <%= @ohm_pft.ohm_fvc %>
</p>

<p>
  <strong>Ohm fev1:</strong>
  <%= @ohm_pft.ohm_fev1 %>
</p>

<p>
  <strong>Ohm fev1fvc:</strong>
  <%= @ohm_pft.ohm_fev1fvc %>
</p>

<p>
  <strong>Ohm fvcpr:</strong>
  <%= @ohm_pft.ohm_fvcpr %>
</p>

<p>
  <strong>Ohm fev1pr:</strong>
  <%= @ohm_pft.ohm_fev1pr %>
</p>

<%= link_to 'Edit', edit_ohm_pft_path(@ohm_pft) %> |
<%= link_to 'Back', ohm_pfts_path %>
