<p id="notice"><%= notice %></p>

<p>
  <strong>Research:</strong>
  <%= @psych_calc.research_id %>
</p>

<p>
  <strong>L:</strong>
  <%= @psych_calc.l %>
</p>

<p>
  <strong>K:</strong>
  <%= @psych_calc.k %>
</p>

<p>
  <strong>S:</strong>
  <%= @psych_calc.s %>
</p>

<p>
  <strong>Scale 1:</strong>
  <%= @psych_calc.scale_1 %>
</p>

<p>
  <strong>Scale 2:</strong>
  <%= @psych_calc.scale_2 %>
</p>

<p>
  <strong>Scale 3:</strong>
  <%= @psych_calc.scale_3 %>
</p>

<p>
  <strong>Scale 4:</strong>
  <%= @psych_calc.scale_4 %>
</p>

<p>
  <strong>Scale 6:</strong>
  <%= @psych_calc.scale_6 %>
</p>

<p>
  <strong>Scale 7:</strong>
  <%= @psych_calc.scale_7 %>
</p>

<p>
  <strong>Scale 8:</strong>
  <%= @psych_calc.scale_8 %>
</p>

<p>
  <strong>Scale 9:</strong>
  <%= @psych_calc.scale_9 %>
</p>

<p>
  <strong>Scale 0:</strong>
  <%= @psych_calc.scale_0 %>
</p>

<p>
  <strong>Rcd:</strong>
  <%= @psych_calc.rcd %>
</p>

<p>
  <strong>Rc1:</strong>
  <%= @psych_calc.rc1 %>
</p>

<p>
  <strong>Rc2:</strong>
  <%= @psych_calc.rc2 %>
</p>

<p>
  <strong>Rc3:</strong>
  <%= @psych_calc.rc3 %>
</p>

<p>
  <strong>Rc4:</strong>
  <%= @psych_calc.rc4 %>
</p>

<p>
  <strong>Rc6:</strong>
  <%= @psych_calc.rc6 %>
</p>

<p>
  <strong>Rc7:</strong>
  <%= @psych_calc.rc7 %>
</p>

<p>
  <strong>Rc8:</strong>
  <%= @psych_calc.rc8 %>
</p>

<p>
  <strong>Rc9:</strong>
  <%= @psych_calc.rc9 %>
</p>

<p>
  <strong>Anx:</strong>
  <%= @psych_calc.anx %>
</p>

<p>
  <strong>Frs:</strong>
  <%= @psych_calc.frs %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @psych_calc.obs %>
</p>

<p>
  <strong>Dep:</strong>
  <%= @psych_calc.dep %>
</p>

<p>
  <strong>Hea:</strong>
  <%= @psych_calc.hea %>
</p>

<p>
  <strong>Biz:</strong>
  <%= @psych_calc.biz %>
</p>

<p>
  <strong>Ang:</strong>
  <%= @psych_calc.ang %>
</p>

<p>
  <strong>Cyn:</strong>
  <%= @psych_calc.cyn %>
</p>

<p>
  <strong>Asp:</strong>
  <%= @psych_calc.asp %>
</p>

<p>
  <strong>Tpa:</strong>
  <%= @psych_calc.tpa %>
</p>

<p>
  <strong>Lse:</strong>
  <%= @psych_calc.lse %>
</p>

<p>
  <strong>Sod:</strong>
  <%= @psych_calc.sod %>
</p>

<p>
  <strong>Fam:</strong>
  <%= @psych_calc.fam %>
</p>

<p>
  <strong>Wrk:</strong>
  <%= @psych_calc.wrk %>
</p>

<p>
  <strong>Trt:</strong>
  <%= @psych_calc.trt %>
</p>

<p>
  <strong>A:</strong>
  <%= @psych_calc.a %>
</p>

<p>
  <strong>R:</strong>
  <%= @psych_calc.r %>
</p>

<p>
  <strong>Es:</strong>
  <%= @psych_calc.es %>
</p>

<p>
  <strong>Do:</strong>
  <%= @psych_calc.do %>
</p>

<p>
  <strong>Re:</strong>
  <%= @psych_calc.re %>
</p>

<p>
  <strong>Mt:</strong>
  <%= @psych_calc.mt %>
</p>

<p>
  <strong>Pk:</strong>
  <%= @psych_calc.pk %>
</p>

<p>
  <strong>Mds:</strong>
  <%= @psych_calc.mds %>
</p>

<p>
  <strong>Ho:</strong>
  <%= @psych_calc.ho %>
</p>

<p>
  <strong>O h:</strong>
  <%= @psych_calc.o_h %>
</p>

<p>
  <strong>Mac r:</strong>
  <%= @psych_calc.mac_r %>
</p>

<p>
  <strong>Aas:</strong>
  <%= @psych_calc.aas %>
</p>

<p>
  <strong>Aps:</strong>
  <%= @psych_calc.aps %>
</p>

<p>
  <strong>Aggr:</strong>
  <%= @psych_calc.aggr %>
</p>

<p>
  <strong>Psyc:</strong>
  <%= @psych_calc.psyc %>
</p>

<p>
  <strong>Disc:</strong>
  <%= @psych_calc.disc %>
</p>

<p>
  <strong>Nege:</strong>
  <%= @psych_calc.nege %>
</p>

<p>
  <strong>Intr:</strong>
  <%= @psych_calc.intr %>
</p>

<%= link_to 'Edit', edit_psych_calc_path(@psych_calc) %> |
<%= link_to 'Back', psych_calcs_path %>
