<p id="notice"><%= notice %></p>

<h1>Listing Bsdi Psyches</h1>

<table>
  <thead>
    <tr>
      <th>Bsdi report</th>
      <th>Bsdi psych overall</th>
      <th>Bsdi life satisfaction</th>
      <th>Bsdi satisfaction job</th>
      <th>Bsdi stress level</th>
      <th>Bsdi psych stress effect</th>
      <th>Bsdi sleep</th>
      <th>Bsdi insufficient sleep</th>
      <th>Bsdi friends</th>
      <th>Bsdi social ties</th>
      <th>Bsdi spirit health</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bsdi_psyches.each do |bsdi_psych| %>
      <tr>
        <td><%= bsdi_psych.bsdi_report_id %></td>
        <td><%= bsdi_psych.bsdi_psych_overall %></td>
        <td><%= bsdi_psych.bsdi_life_satisfaction %></td>
        <td><%= bsdi_psych.bsdi_satisfaction_job %></td>
        <td><%= bsdi_psych.bsdi_stress_level %></td>
        <td><%= bsdi_psych.bsdi_psych_stress_effect %></td>
        <td><%= bsdi_psych.bsdi_sleep %></td>
        <td><%= bsdi_psych.bsdi_insufficient_sleep %></td>
        <td><%= bsdi_psych.bsdi_friends %></td>
        <td><%= bsdi_psych.bsdi_social_ties %></td>
        <td><%= bsdi_psych.bsdi_spirit_health %></td>
        <td><%= link_to 'Show', bsdi_psych %></td>
        <td><%= link_to 'Edit', edit_bsdi_psych_path(bsdi_psych) %></td>
        <td><%= link_to 'Destroy', bsdi_psych, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bsdi psych', new_bsdi_psych_path %>
