<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_psych.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi psych overall:</strong>
  <%= @bsdi_psych.bsdi_psych_overall %>
</p>

<p>
  <strong>Bsdi life satisfaction:</strong>
  <%= @bsdi_psych.bsdi_life_satisfaction %>
</p>

<p>
  <strong>Bsdi satisfaction job:</strong>
  <%= @bsdi_psych.bsdi_satisfaction_job %>
</p>

<p>
  <strong>Bsdi stress level:</strong>
  <%= @bsdi_psych.bsdi_stress_level %>
</p>

<p>
  <strong>Bsdi psych stress effect:</strong>
  <%= @bsdi_psych.bsdi_psych_stress_effect %>
</p>

<p>
  <strong>Bsdi sleep:</strong>
  <%= @bsdi_psych.bsdi_sleep %>
</p>

<p>
  <strong>Bsdi insufficient sleep:</strong>
  <%= @bsdi_psych.bsdi_insufficient_sleep %>
</p>

<p>
  <strong>Bsdi friends:</strong>
  <%= @bsdi_psych.bsdi_friends %>
</p>

<p>
  <strong>Bsdi social ties:</strong>
  <%= @bsdi_psych.bsdi_social_ties %>
</p>

<p>
  <strong>Bsdi spirit health:</strong>
  <%= @bsdi_psych.bsdi_spirit_health %>
</p>

<%= link_to 'Edit', edit_bsdi_psych_path(@bsdi_psych) %> |
<%= link_to 'Back', bsdi_psyches_path %>
