<% provide(:title, "Search") %>
<div class="jumbotron">
<h1>Search the Data</h1>
<p>Use the form to search our database. Use the <%= link_to "Data Sources List", data_path %> as guidance with regard to where items may be found.</p>


<%= form_for @fitness_test do |f| %>
<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>

<h2>Fitness Tests</h2>
<div class="form-inline">
	<div class="form_group">
		<%=	f.label :aerobic_test_type %>
		<%=f.text_field :aerobic_test_type, class: 'form-control'%>
	</div>
</div>


<div class="form-group"><br/>
<button type="submit" class="btn btn-primary btn-lg">Search</button>
</div>

	<%= f.submit 'Request Access', class: "btn btn-primary" %>
<% end %>

</div>