<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_diet.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi breakfast:</strong>
  <%= @bsdi_diet.bsdi_breakfast %>
</p>

<p>
  <strong>Bsdi fruits:</strong>
  <%= @bsdi_diet.bsdi_fruits %>
</p>

<p>
  <strong>Bsdi vegetables:</strong>
  <%= @bsdi_diet.bsdi_vegetables %>
</p>

<p>
  <strong>Bsdi grains:</strong>
  <%= @bsdi_diet.bsdi_grains %>
</p>

<p>
  <strong>Bsdi grain emphasis:</strong>
  <%= @bsdi_diet.bsdi_grain_emphasis %>
</p>

<p>
  <strong>Bsdi red meat:</strong>
  <%= @bsdi_diet.bsdi_red_meat %>
</p>

<p>
  <strong>Bsdi lean meat:</strong>
  <%= @bsdi_diet.bsdi_lean_meat %>
</p>

<p>
  <strong>Bsdi dairy:</strong>
  <%= @bsdi_diet.bsdi_dairy %>
</p>

<p>
  <strong>Bsdi dairy emphasis:</strong>
  <%= @bsdi_diet.bsdi_dairy_emphasis %>
</p>

<p>
  <strong>Bsdi fats and oils:</strong>
  <%= @bsdi_diet.bsdi_fats_and_oils %>
</p>

<p>
  <strong>Bsdi nutrition status:</strong>
  <%= @bsdi_diet.bsdi_nutrition_status %>
</p>

<p>
  <strong>Bsdi nut missing values:</strong>
  <%= @bsdi_diet.bsdi_nut_missing_values %>
</p>

<%= link_to 'Edit', edit_bsdi_diet_path(@bsdi_diet) %> |
<%= link_to 'Back', bsdi_diets_path %>
