<p id="notice"><%= notice %></p>

<p>
  <strong>Fitness patient:</strong>
  <%= @fitness_patient.fitness_patient_id %>
</p>

<p>
  <strong>Fitness lname:</strong>
  <%= @fitness_patient.fitness_lname %>
</p>

<p>
  <strong>Fitness fname:</strong>
  <%= @fitness_patient.fitness_fname %>
</p>

<p>
  <strong>Fitness dept:</strong>
  <%= @fitness_patient.fitness_dept %>
</p>

<p>
  <strong>Fitness gender:</strong>
  <%= @fitness_patient.fitness_gender %>
</p>

<%= link_to 'Edit', edit_fitness_patient_path(@fitness_patient) %> |
<%= link_to 'Back', fitness_patients_path %>
