<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi rfc alcohol:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_rfc_alcohol %>
</p>

<p>
  <strong>Bsdi alcohol barrier knowledge:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_alcohol_barrier_knowledge %>
</p>

<p>
  <strong>Bsdi alcohol barrier temptation:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_alcohol_barrier_temptation %>
</p>

<p>
  <strong>Bsdi alcohol barrier friends:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_alcohol_barrier_friends %>
</p>

<p>
  <strong>Bsdi alcohol barrier perception:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_alcohol_barrier_perception %>
</p>

<p>
  <strong>Bsdi alcohol barrier stress:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_alcohol_barrier_stress %>
</p>

<p>
  <strong>Bsdi alcohol barrier other:</strong>
  <%= @bsdi_alcohol_barrier.bsdi_alcohol_barrier_other %>
</p>

<%= link_to 'Edit', edit_bsdi_alcohol_barrier_path(@bsdi_alcohol_barrier) %> |
<%= link_to 'Back', bsdi_alcohol_barriers_path %>
