<p id="notice"><%= notice %></p>

<p>
  <strong>Moddate:</strong>
  <%= @ohm_bchem.moddate %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @ohm_bchem.ssn %>
</p>

<p>
  <strong>Ohm sgot:</strong>
  <%= @ohm_bchem.ohm_sgot %>
</p>

<p>
  <strong>Ohm sgpt:</strong>
  <%= @ohm_bchem.ohm_sgpt %>
</p>

<p>
  <strong>Ohm trigly:</strong>
  <%= @ohm_bchem.ohm_trigly %>
</p>

<p>
  <strong>Ohm chol:</strong>
  <%= @ohm_bchem.ohm_chol %>
</p>

<p>
  <strong>Ohm ldl:</strong>
  <%= @ohm_bchem.ohm_ldl %>
</p>

<p>
  <strong>Ohm ldh:</strong>
  <%= @ohm_bchem.ohm_ldh %>
</p>

<p>
  <strong>Ohm hdl:</strong>
  <%= @ohm_bchem.ohm_hdl %>
</p>

<p>
  <strong>Ohm glucose:</strong>
  <%= @ohm_bchem.ohm_glucose %>
</p>

<p>
  <strong>Ohm bun:</strong>
  <%= @ohm_bchem.ohm_bun %>
</p>

<p>
  <strong>Ohm creatinine:</strong>
  <%= @ohm_bchem.ohm_creatinine %>
</p>

<%= link_to 'Edit', edit_ohm_bchem_path(@ohm_bchem) %> |
<%= link_to 'Back', ohm_bchems_path %>
