<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_blood_chemistry.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi bchem date:</strong>
  <%= @bsdi_blood_chemistry.bsdi_bchem_date %>
</p>

<p>
  <strong>Bsdi cholesterol:</strong>
  <%= @bsdi_blood_chemistry.bsdi_cholesterol %>
</p>

<p>
  <strong>Bsdi high cholesterol:</strong>
  <%= @bsdi_blood_chemistry.bsdi_high_cholesterol %>
</p>

<p>
  <strong>Bsdi cholesterol meds:</strong>
  <%= @bsdi_blood_chemistry.bsdi_cholesterol_meds %>
</p>

<p>
  <strong>Bsdi hdl:</strong>
  <%= @bsdi_blood_chemistry.bsdi_hdl %>
</p>

<p>
  <strong>Bsdi hdl status:</strong>
  <%= @bsdi_blood_chemistry.bsdi_hdl_status %>
</p>

<p>
  <strong>Bsdi ldl:</strong>
  <%= @bsdi_blood_chemistry.bsdi_ldl %>
</p>

<p>
  <strong>Bsdi high ldl:</strong>
  <%= @bsdi_blood_chemistry.bsdi_high_ldl %>
</p>

<p>
  <strong>Bsdi triglycerides:</strong>
  <%= @bsdi_blood_chemistry.bsdi_triglycerides %>
</p>

<p>
  <strong>Bsdi high triglyceride:</strong>
  <%= @bsdi_blood_chemistry.bsdi_high_triglyceride %>
</p>

<p>
  <strong>Bsdi glucose:</strong>
  <%= @bsdi_blood_chemistry.bsdi_glucose %>
</p>

<p>
  <strong>Bsdi pre diabetes:</strong>
  <%= @bsdi_blood_chemistry.bsdi_pre_diabetes %>
</p>

<p>
  <strong>Bsdi a1c:</strong>
  <%= @bsdi_blood_chemistry.bsdi_a1c %>
</p>

<p>
  <strong>Bsdi blood chem risk:</strong>
  <%= @bsdi_blood_chemistry.bsdi_blood_chem_risk %>
</p>

<%= link_to 'Edit', edit_bsdi_blood_chemistry_path(@bsdi_blood_chemistry) %> |
<%= link_to 'Back', bsdi_blood_chemistries_path %>
