<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_annual.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi see doctor:</strong>
  <%= @bsdi_annual.bsdi_see_doctor %>
</p>

<p>
  <strong>Bsdi see dentist:</strong>
  <%= @bsdi_annual.bsdi_see_dentist %>
</p>

<p>
  <strong>Bsdi check bp:</strong>
  <%= @bsdi_annual.bsdi_check_bp %>
</p>

<p>
  <strong>Bsdi check chol:</strong>
  <%= @bsdi_annual.bsdi_check_chol %>
</p>

<p>
  <strong>Bsdi colonoscopy:</strong>
  <%= @bsdi_annual.bsdi_colonoscopy %>
</p>

<p>
  <strong>Bsdi papsmear:</strong>
  <%= @bsdi_annual.bsdi_papsmear %>
</p>

<p>
  <strong>Bsdi mammogram:</strong>
  <%= @bsdi_annual.bsdi_mammogram %>
</p>

<p>
  <strong>Bsdi prostate:</strong>
  <%= @bsdi_annual.bsdi_prostate %>
</p>

<p>
  <strong>Bsdi breast exam:</strong>
  <%= @bsdi_annual.bsdi_breast_exam %>
</p>

<p>
  <strong>Bsdi testicular exam:</strong>
  <%= @bsdi_annual.bsdi_testicular_exam %>
</p>

<p>
  <strong>Bsdi flu shot:</strong>
  <%= @bsdi_annual.bsdi_flu_shot %>
</p>

<p>
  <strong>Bsdi physician visits:</strong>
  <%= @bsdi_annual.bsdi_physician_visits %>
</p>

<p>
  <strong>Bsdi hospital visits:</strong>
  <%= @bsdi_annual.bsdi_hospital_visits %>
</p>

<p>
  <strong>Bsdi emergency room:</strong>
  <%= @bsdi_annual.bsdi_emergency_room %>
</p>

<p>
  <strong>Bsdi high absenteeism:</strong>
  <%= @bsdi_annual.bsdi_high_absenteeism %>
</p>

<p>
  <strong>Bsdi seat belt:</strong>
  <%= @bsdi_annual.bsdi_seat_belt %>
</p>

<%= link_to 'Edit', edit_bsdi_annual_path(@bsdi_annual) %> |
<%= link_to 'Back', bsdi_annuals_path %>
