<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_disease.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi has disease:</strong>
  <%= @bsdi_disease.bsdi_has_disease %>
</p>

<p>
  <strong>Bsdi heart disease:</strong>
  <%= @bsdi_disease.bsdi_heart_disease %>
</p>

<p>
  <strong>Bsdi hypertension:</strong>
  <%= @bsdi_disease.bsdi_hypertension %>
</p>

<p>
  <strong>Bsdi diabetes:</strong>
  <%= @bsdi_disease.bsdi_diabetes %>
</p>

<p>
  <strong>Bsdi diabetes type1:</strong>
  <%= @bsdi_disease.bsdi_diabetes_type1 %>
</p>

<p>
  <strong>Bsdi metabolic:</strong>
  <%= @bsdi_disease.bsdi_metabolic %>
</p>

<p>
  <strong>Bsdi cancer:</strong>
  <%= @bsdi_disease.bsdi_cancer %>
</p>

<p>
  <strong>Bsdi auto immune:</strong>
  <%= @bsdi_disease.bsdi_auto_immune %>
</p>

<p>
  <strong>Bsdi asthma:</strong>
  <%= @bsdi_disease.bsdi_asthma %>
</p>

<p>
  <strong>Bsdi pulmonary:</strong>
  <%= @bsdi_disease.bsdi_pulmonary %>
</p>

<p>
  <strong>Bsdi arthritis:</strong>
  <%= @bsdi_disease.bsdi_arthritis %>
</p>

<p>
  <strong>Bsdi allergies:</strong>
  <%= @bsdi_disease.bsdi_allergies %>
</p>

<p>
  <strong>Bsdi digestive:</strong>
  <%= @bsdi_disease.bsdi_digestive %>
</p>

<p>
  <strong>Bsdi mental:</strong>
  <%= @bsdi_disease.bsdi_mental %>
</p>

<p>
  <strong>Bsdi neck pain:</strong>
  <%= @bsdi_disease.bsdi_neck_pain %>
</p>

<p>
  <strong>Bsdi back pain:</strong>
  <%= @bsdi_disease.bsdi_back_pain %>
</p>

<p>
  <strong>Bsdi respiratory:</strong>
  <%= @bsdi_disease.bsdi_respiratory %>
</p>

<p>
  <strong>Bsdi migraines headaches:</strong>
  <%= @bsdi_disease.bsdi_migraines_headaches %>
</p>

<p>
  <strong>Bsdi depression:</strong>
  <%= @bsdi_disease.bsdi_depression %>
</p>

<p>
  <strong>Bsdi anxiety:</strong>
  <%= @bsdi_disease.bsdi_anxiety %>
</p>

<p>
  <strong>Bsdi musculoskeletal problems:</strong>
  <%= @bsdi_disease.bsdi_musculoskeletal_problems %>
</p>

<p>
  <strong>Bsdi periphvasc:</strong>
  <%= @bsdi_disease.bsdi_periphvasc %>
</p>

<p>
  <strong>Bsdi seizures:</strong>
  <%= @bsdi_disease.bsdi_seizures %>
</p>

<p>
  <strong>Bsdi stroke:</strong>
  <%= @bsdi_disease.bsdi_stroke %>
</p>

<p>
  <strong>Bsdi pregnancy:</strong>
  <%= @bsdi_disease.bsdi_pregnancy %>
</p>

<p>
  <strong>Bsdi chest pain:</strong>
  <%= @bsdi_disease.bsdi_chest_pain %>
</p>

<p>
  <strong>Bsdi leg pain:</strong>
  <%= @bsdi_disease.bsdi_leg_pain %>
</p>

<p>
  <strong>Bsdi dizziness:</strong>
  <%= @bsdi_disease.bsdi_dizziness %>
</p>

<p>
  <strong>Bsdi shortbreath:</strong>
  <%= @bsdi_disease.bsdi_shortbreath %>
</p>

<p>
  <strong>Bsdi orthopnea:</strong>
  <%= @bsdi_disease.bsdi_orthopnea %>
</p>

<p>
  <strong>Bsdi heart flutter:</strong>
  <%= @bsdi_disease.bsdi_heart_flutter %>
</p>

<p>
  <strong>Bsdi heart murmur:</strong>
  <%= @bsdi_disease.bsdi_heart_murmur %>
</p>

<p>
  <strong>Bsdi ankle edema:</strong>
  <%= @bsdi_disease.bsdi_ankle_edema %>
</p>

<p>
  <strong>Bsdi heart meds:</strong>
  <%= @bsdi_disease.bsdi_heart_meds %>
</p>

<p>
  <strong>Bsdi family chd:</strong>
  <%= @bsdi_disease.bsdi_family_chd %>
</p>

<p>
  <strong>Bsdi chd risk:</strong>
  <%= @bsdi_disease.bsdi_chd_risk %>
</p>

<%= link_to 'Edit', edit_bsdi_disease_path(@bsdi_disease) %> |
<%= link_to 'Back', bsdi_diseases_path %>
