<p id="notice"><%= notice %></p>

<p>
  <strong>Fitness report:</strong>
  <%= @fitness_test_test.fitness_report_id %>
</p>

<p>
  <strong>Fitness age:</strong>
  <%= @fitness_test_test.fitness_age %>
</p>

<p>
  <strong>Fitness ht:</strong>
  <%= @fitness_test_test.fitness_ht %>
</p>

<p>
  <strong>Fitness wt:</strong>
  <%= @fitness_test_test.fitness_wt %>
</p>

<p>
  <strong>Fitness bia-stnd:</strong>
  <%= @fitness_test_test.fitness_bia-stnd %>
</p>

<p>
  <strong>Fitness bia-ath:</strong>
  <%= @fitness_test_test.fitness_bia-ath %>
</p>

<p>
  <strong>Fitness bia-p-f:</strong>
  <%= @fitness_test_test.fitness_bia-p-f %>
</p>

<p>
  <strong>Fitness bmi:</strong>
  <%= @fitness_test_test.fitness_bmi %>
</p>

<p>
  <strong>Fitness tbw:</strong>
  <%= @fitness_test_test.fitness_tbw %>
</p>

<p>
  <strong>Fitness skinfold:</strong>
  <%= @fitness_test_test.fitness_skinfold %>
</p>

<p>
  <strong>Fitness skn-p-f:</strong>
  <%= @fitness_test_test.fitness_skn-p-f %>
</p>

<p>
  <strong>Fitness bodpod:</strong>
  <%= @fitness_test_test.fitness_bodpod %>
</p>

<p>
  <strong>Fitness bod-p-f:</strong>
  <%= @fitness_test_test.fitness_bod-p-f %>
</p>

<p>
  <strong>Fitness accuflex:</strong>
  <%= @fitness_test_test.fitness_accuflex %>
</p>

<p>
  <strong>Fitness flex-p-fl:</strong>
  <%= @fitness_test_test.fitness_flex-p-fl %>
</p>

<p>
  <strong>Fitness grip-l:</strong>
  <%= @fitness_test_test.fitness_grip-l %>
</p>

<p>
  <strong>Fitness grip-r:</strong>
  <%= @fitness_test_test.fitness_grip-r %>
</p>

<p>
  <strong>Fitness leg press:</strong>
  <%= @fitness_test_test.fitness_leg_press %>
</p>

<p>
  <strong>Fitness arm curl:</strong>
  <%= @fitness_test_test.fitness_arm_curl %>
</p>

<p>
  <strong>Fitness push ups:</strong>
  <%= @fitness_test_test.fitness_push_ups %>
</p>

<p>
  <strong>Fitness crunches:</strong>
  <%= @fitness_test_test.fitness_crunches %>
</p>

<p>
  <strong>Fitness q-1:</strong>
  <%= @fitness_test_test.fitness_q-1 %>
</p>

<p>
  <strong>Fitness q-2:</strong>
  <%= @fitness_test_test.fitness_q-2 %>
</p>

<p>
  <strong>Fitness q-3:</strong>
  <%= @fitness_test_test.fitness_q-3 %>
</p>

<p>
  <strong>Fitness q-4:</strong>
  <%= @fitness_test_test.fitness_q-4 %>
</p>

<p>
  <strong>Fitness rest hr:</strong>
  <%= @fitness_test_test.fitness_rest_hr %>
</p>

<p>
  <strong>Fitness rest sbp:</strong>
  <%= @fitness_test_test.fitness_rest_sbp %>
</p>

<p>
  <strong>Fitness rest dbp:</strong>
  <%= @fitness_test_test.fitness_rest_dbp %>
</p>

<p>
  <strong>Fitness rest ecg:</strong>
  <%= @fitness_test_test.fitness_rest_ecg %>
</p>

<p>
  <strong>Fitness rest bp:</strong>
  <%= @fitness_test_test.fitness_rest_bp %>
</p>

<p>
  <strong>Fitness max hr:</strong>
  <%= @fitness_test_test.fitness_max_hr %>
</p>

<p>
  <strong>Fitness max sbp:</strong>
  <%= @fitness_test_test.fitness_max_sbp %>
</p>

<p>
  <strong>Fitness max dbp:</strong>
  <%= @fitness_test_test.fitness_max_dbp %>
</p>

<p>
  <strong>Fitness percent max hr:</strong>
  <%= @fitness_test_test.fitness_percent_max_hr %>
</p>

<p>
  <strong>Fitness max mets:</strong>
  <%= @fitness_test_test.fitness_max_mets %>
</p>

<p>
  <strong>Fitness max rpe:</strong>
  <%= @fitness_test_test.fitness_max_rpe %>
</p>

<p>
  <strong>Fitness max vo2:</strong>
  <%= @fitness_test_test.fitness_max_vo2 %>
</p>

<p>
  <strong>Fitness vo2-pass-fail:</strong>
  <%= @fitness_test_test.fitness_vo2-pass-fail %>
</p>

<p>
  <strong>Fitness swat:</strong>
  <%= @fitness_test_test.fitness_swat %>
</p>

<p>
  <strong>Fitness scuba:</strong>
  <%= @fitness_test_test.fitness_scuba %>
</p>

<p>
  <strong>Fitness hazmat:</strong>
  <%= @fitness_test_test.fitness_hazmat %>
</p>

<p>
  <strong>Fitness canine:</strong>
  <%= @fitness_test_test.fitness_canine %>
</p>

<p>
  <strong>Fitness taskforce:</strong>
  <%= @fitness_test_test.fitness_taskforce %>
</p>

<p>
  <strong>Fitness reserve:</strong>
  <%= @fitness_test_test.fitness_reserve %>
</p>

<p>
  <strong>Fitness merit:</strong>
  <%= @fitness_test_test.fitness_merit %>
</p>

<p>
  <strong>Fitness envir-oficr:</strong>
  <%= @fitness_test_test.fitness_envir-oficr %>
</p>

<p>
  <strong>Fitness recheck:</strong>
  <%= @fitness_test_test.fitness_recheck %>
</p>

<p>
  <strong>Fitness ex rx offered:</strong>
  <%= @fitness_test_test.fitness_ex_rx_offered %>
</p>

<p>
  <strong>Fitness rx accepted:</strong>
  <%= @fitness_test_test.fitness_rx_accepted %>
</p>

<p>
  <strong>Fitness termination:</strong>
  <%= @fitness_test_test.fitness_termination %>
</p>

<p>
  <strong>Fitness bp response:</strong>
  <%= @fitness_test_test.fitness_bp_response %>
</p>

<p>
  <strong>Fitness impression:</strong>
  <%= @fitness_test_test.fitness_impression %>
</p>

<p>
  <strong>Fitness ref letter:</strong>
  <%= @fitness_test_test.fitness_ref_letter %>
</p>

<p>
  <strong>Fitness overread:</strong>
  <%= @fitness_test_test.fitness_overread %>
</p>

<p>
  <strong>Fitness ectopy:</strong>
  <%= @fitness_test_test.fitness_ectopy %>
</p>

<p>
  <strong>Fitness pvcs:</strong>
  <%= @fitness_test_test.fitness_pvcs %>
</p>

<p>
  <strong>Fitness rtw:</strong>
  <%= @fitness_test_test.fitness_rtw %>
</p>

<p>
  <strong>Fitness promo:</strong>
  <%= @fitness_test_test.fitness_promo %>
</p>

<p>
  <strong>Fitness arrestee:</strong>
  <%= @fitness_test_test.fitness_arrestee %>
</p>

<p>
  <strong>Fitness jco:</strong>
  <%= @fitness_test_test.fitness_jco %>
</p>

<p>
  <strong>Fitness social sec num:</strong>
  <%= @fitness_test_test.fitness_social_sec_num %>
</p>

<p>
  <strong>Fitness hip:</strong>
  <%= @fitness_test_test.fitness_hip %>
</p>

<p>
  <strong>Fitness waist:</strong>
  <%= @fitness_test_test.fitness_waist %>
</p>

<p>
  <strong>Fitness rx required:</strong>
  <%= @fitness_test_test.fitness_rx_required %>
</p>

<p>
  <strong>Fitness plank:</strong>
  <%= @fitness_test_test.fitness_plank %>
</p>

<p>
  <strong>Fitness test type:</strong>
  <%= @fitness_test_test.fitness_test_type %>
</p>

<p>
  <strong>Fitness class start date:</strong>
  <%= @fitness_test_test.fitness_class_start_date %>
</p>

<p>
  <strong>Fitness pre or post:</strong>
  <%= @fitness_test_test.fitness_pre_or_post %>
</p>

<p>
  <strong>Fitness fms:</strong>
  <%= @fitness_test_test.fitness_fms %>
</p>

<p>
  <strong>Fitness wfi incentive:</strong>
  <%= @fitness_test_test.fitness_wfi_incentive %>
</p>

<%= link_to 'Edit', edit_fitness_test_test_path(@fitness_test_test) %> |
<%= link_to 'Back', fitness_test_tests_path %>
