<p id="notice"><%= notice %></p>

<p>
  <strong>Research:</strong>
  <%= @psych_background.research_id %>
</p>

<p>
  <strong>Hgh sch susp:</strong>
  <%= @psych_background.hgh_sch_susp %>
</p>

<p>
  <strong>College degree:</strong>
  <%= @psych_background.college_degree %>
</p>

<p>
  <strong>Yrs military service:</strong>
  <%= @psych_background.yrs_military_service %>
</p>

<p>
  <strong>Dscpln military:</strong>
  <%= @psych_background.dscpln_military %>
</p>

<p>
  <strong>Fired:</strong>
  <%= @psych_background.fired %>
</p>

<p>
  <strong>Yrs fired:</strong>
  <%= @psych_background.yrs_fired %>
</p>

<p>
  <strong>Wrk suspensions:</strong>
  <%= @psych_background.wrk_suspensions %>
</p>

<p>
  <strong>Yrs wrk suspension:</strong>
  <%= @psych_background.yrs_wrk_suspension %>
</p>

<p>
  <strong>Write work:</strong>
  <%= @psych_background.write_work %>
</p>

<p>
  <strong>Yrs write up wrk:</strong>
  <%= @psych_background.yrs_write_up_wrk %>
</p>

<p>
  <strong>Times married:</strong>
  <%= @psych_background.times_married %>
</p>

<p>
  <strong>Times divorced:</strong>
  <%= @psych_background.times_divorced %>
</p>

<p>
  <strong>Arrests:</strong>
  <%= @psych_background.arrests %>
</p>

<p>
  <strong>Yrs arrest:</strong>
  <%= @psych_background.yrs_arrest %>
</p>

<p>
  <strong>Alcohol drug related arrests:</strong>
  <%= @psych_background.alcohol_drug_related_arrests %>
</p>

<p>
  <strong>Drv suspensions:</strong>
  <%= @psych_background.drv_suspensions %>
</p>

<p>
  <strong>Yrs lic susp:</strong>
  <%= @psych_background.yrs_lic_susp %>
</p>

<p>
  <strong>Sex with minor:</strong>
  <%= @psych_background.sex_with_minor %>
</p>

<p>
  <strong>Yrs minor:</strong>
  <%= @psych_background.yrs_minor %>
</p>

<p>
  <strong>Times paying for sex:</strong>
  <%= @psych_background.times_paying_for_sex %>
</p>

<p>
  <strong>Yrs paid sex:</strong>
  <%= @psych_background.yrs_paid_sex %>
</p>

<p>
  <strong>Bankruptcies:</strong>
  <%= @psych_background.bankruptcies %>
</p>

<p>
  <strong>Last bankruptcy:</strong>
  <%= @psych_background.last_bankruptcy %>
</p>

<p>
  <strong>Currnt rx meds:</strong>
  <%= @psych_background.currnt_rx_meds %>
</p>

<p>
  <strong>Mh hosptlztions:</strong>
  <%= @psych_background.mh_hosptlztions %>
</p>

<p>
  <strong>Last mh hosptlztion:</strong>
  <%= @psych_background.last_mh_hosptlztion %>
</p>

<p>
  <strong>Self harm:</strong>
  <%= @psych_background.self_harm %>
</p>

<p>
  <strong>Last sh:</strong>
  <%= @psych_background.last_sh %>
</p>

<p>
  <strong>Current psych meds:</strong>
  <%= @psych_background.current_psych_meds %>
</p>

<p>
  <strong>Psych meds lifetime:</strong>
  <%= @psych_background.psych_meds_lifetime %>
</p>

<p>
  <strong>Mh dxs:</strong>
  <%= @psych_background.mh_dxs %>
</p>

<p>
  <strong>Last dx:</strong>
  <%= @psych_background.last_dx %>
</p>

<p>
  <strong>Mood do:</strong>
  <%= @psych_background.mood_do %>
</p>

<p>
  <strong>Anx do:</strong>
  <%= @psych_background.anx_do %>
</p>

<p>
  <strong>Adhd:</strong>
  <%= @psych_background.adhd %>
</p>

<p>
  <strong>Longest period dep:</strong>
  <%= @psych_background.longest_period_dep %>
</p>

<p>
  <strong>Dep episodes:</strong>
  <%= @psych_background.dep_episodes %>
</p>

<p>
  <strong>Yrs since mst recnt dep episd:</strong>
  <%= @psych_background.yrs_since_mst_recnt_dep_episd %>
</p>

<p>
  <strong>Illegal drugs used:</strong>
  <%= @psych_background.illegal_drugs_used %>
</p>

<p>
  <strong>Last illegal drug use:</strong>
  <%= @psych_background.last_illegal_drug_use %>
</p>

<p>
  <strong>Marijuana use:</strong>
  <%= @psych_background.marijuana_use %>
</p>

<p>
  <strong>Last marijuana use:</strong>
  <%= @psych_background.last_marijuana_use %>
</p>

<p>
  <strong>Drink per week:</strong>
  <%= @psych_background.drink_per_week %>
</p>

<p>
  <strong>Drinks setting:</strong>
  <%= @psych_background.drinks_setting %>
</p>

<p>
  <strong>Intox month:</strong>
  <%= @psych_background.intox_month %>
</p>

<p>
  <strong>Intox year:</strong>
  <%= @psych_background.intox_year %>
</p>

<p>
  <strong>Last intox:</strong>
  <%= @psych_background.last_intox %>
</p>

<p>
  <strong>Intox year:</strong>
  <%= @psych_background.intox_year %>
</p>

<p>
  <strong>Times intox driving:</strong>
  <%= @psych_background.times_intox_driving %>
</p>

<p>
  <strong>Last intox driving:</strong>
  <%= @psych_background.last_intox_driving %>
</p>

<p>
  <strong>Drnks effcts:</strong>
  <%= @psych_background.drnks_effcts %>
</p>

<p>
  <strong>Fights drinking:</strong>
  <%= @psych_background.fights_drinking %>
</p>

<p>
  <strong>Fights adult:</strong>
  <%= @psych_background.fights_adult %>
</p>

<p>
  <strong>Last fight:</strong>
  <%= @psych_background.last_fight %>
</p>

<p>
  <strong>Stole:</strong>
  <%= @psych_background.stole %>
</p>

<p>
  <strong>Last stolen:</strong>
  <%= @psych_background.last_stolen %>
</p>

<p>
  <strong>Drinks per week:</strong>
  <%= @psych_background.drinks_per_week %>
</p>

<%= link_to 'Edit', edit_psych_background_path(@psych_background) %> |
<%= link_to 'Back', psych_backgrounds_path %>
