<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_exercise.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi exercise:</strong>
  <%= @bsdi_exercise.bsdi_exercise %>
</p>

<p>
  <strong>Bsdi how long active:</strong>
  <%= @bsdi_exercise.bsdi_how_long_active %>
</p>

<p>
  <strong>Bsdi sedentary:</strong>
  <%= @bsdi_exercise.bsdi_sedentary %>
</p>

<p>
  <strong>Bsdi hip knee problems:</strong>
  <%= @bsdi_exercise.bsdi_hip_knee_problems %>
</p>

<p>
  <strong>Bsdi other reason no exercise:</strong>
  <%= @bsdi_exercise.bsdi_other_reason_no_exercise %>
</p>

<p>
  <strong>Bsdi activity minutes vigorous:</strong>
  <%= @bsdi_exercise.bsdi_activity_minutes_vigorous %>
</p>

<p>
  <strong>Bsdi activity minutes moderate:</strong>
  <%= @bsdi_exercise.bsdi_activity_minutes_moderate %>
</p>

<p>
  <strong>Bsdi physical inactivity:</strong>
  <%= @bsdi_exercise.bsdi_physical_inactivity %>
</p>

<%= link_to 'Edit', edit_bsdi_exercise_path(@bsdi_exercise) %> |
<%= link_to 'Back', bsdi_exercises_path %>
