<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_risk.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi risk stratification:</strong>
  <%= @bsdi_risk.bsdi_risk_stratification %>
</p>

<p>
  <strong>Bsdi risk factor count:</strong>
  <%= @bsdi_risk.bsdi_risk_factor_count %>
</p>

<p>
  <strong>Bsdi self rating:</strong>
  <%= @bsdi_risk.bsdi_self_rating %>
</p>

<%= link_to 'Edit', edit_bsdi_risk_path(@bsdi_risk) %> |
<%= link_to 'Back', bsdi_risks_path %>
