<div class="search_results">
<ul>
  <li><h4>Report ID: <%= fitness_test.report_id %></h4></li>
  <li>Test Date ID: <%=fitness_test.fit_test_date %></li>
  <li>Aerobic Test Type: <%= fitness_test.aerobic_test_type %></li>
  <li>Aerobic Capacity: <%= fitness_test.aerobic_capacity %></li>
  <li>Flex-Sit-Reach: <%= fitness_test.flex_sit_reach %> in.</li>
  <li>Hand Strength: <%= fitness_test.hand_strength %> lbs.</li>
  <li>Leg Strength: <%= fitness_test.leg_strength %> lbs.</li>
  <li>Arm Strength: <%= fitness_test.arm_strength %> lbs.</li>
  <li>Vertical Jump: <%= fitness_test.vertical_jump %> in.</li>
  <li>Push Ups: <%= fitness_test.endurance_push_ups %></li>
  <li>Plank: <%= fitness_test.plank %> sec.</li>
</ul>
</div>

