<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [:bsdi_blood_pressuress, :bsdi_blood_pressures, :bsdi_smokings, :bsdi_current_jobs, :bsdi_histories, :bsdi_diseases, :bsdi_measurements] %>
  <% end %>
  <%= f.predicate_select only: %i(cont not_cont eq not_eq blank null lt lteq gt gteq) %><br />
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>