<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_activity.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi rfc activity:</strong>
  <%= @bsdi_activity.bsdi_rfc_activity %>
</p>

<p>
  <strong>Bsdi active barrier time:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_time %>
</p>

<p>
  <strong>Bsdi active barrier people:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_people %>
</p>

<p>
  <strong>Bsdi active barrier unfamiliar:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_unfamiliar %>
</p>

<p>
  <strong>Bsdi active barrier resources:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_resources %>
</p>

<p>
  <strong>Bsdi active barrier unpleasant:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_unpleasant %>
</p>

<p>
  <strong>Bsdi active barrier medical worry:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_medical_worry %>
</p>

<p>
  <strong>Bsdi active barrier intimidating:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_intimidating %>
</p>

<p>
  <strong>Bsdi active barrier embarrassed:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_embarrassed %>
</p>

<p>
  <strong>Bsdi active barrier other:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_other %>
</p>

<p>
  <strong>Bsdi active barrier injury:</strong>
  <%= @bsdi_activity.bsdi_active_barrier_injury %>
</p>

<%= link_to 'Edit', edit_bsdi_activity_path(@bsdi_activity) %> |
<%= link_to 'Back', bsdi_activities_path %>
