<p id="notice"><%= notice %></p>

<p>
  <strong>Moddate:</strong>
  <%= @ohm_cbc.moddate %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @ohm_cbc.ssn %>
</p>

<p>
  <strong>Ohm wbc:</strong>
  <%= @ohm_cbc.ohm_wbc %>
</p>

<p>
  <strong>Ohm hemo:</strong>
  <%= @ohm_cbc.ohm_hemo %>
</p>

<p>
  <strong>Ohm hema:</strong>
  <%= @ohm_cbc.ohm_hema %>
</p>

<%= link_to 'Edit', edit_ohm_cbc_path(@ohm_cbc) %> |
<%= link_to 'Back', ohm_cbcs_path %>
