<p id="notice"><%= notice %></p>

<p>
  <strong>Moddate:</strong>
  <%= @ohm_hearing.moddate %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @ohm_hearing.ssn %>
</p>

<p>
  <strong>Ohm l500k:</strong>
  <%= @ohm_hearing.ohm_L500k %>
</p>

<p>
  <strong>Ohm r500k:</strong>
  <%= @ohm_hearing.ohm_R500k %>
</p>

<p>
  <strong>Ohm l1k:</strong>
  <%= @ohm_hearing.ohm_l1k %>
</p>

<p>
  <strong>Ohm r1k:</strong>
  <%= @ohm_hearing.ohm_r1k %>
</p>

<p>
  <strong>Ohm l2k:</strong>
  <%= @ohm_hearing.ohm_l2k %>
</p>

<p>
  <strong>Ohm r2k:</strong>
  <%= @ohm_hearing.ohm_r2k %>
</p>

<p>
  <strong>Ohm l3k:</strong>
  <%= @ohm_hearing.ohm_l3k %>
</p>

<p>
  <strong>Ohm r3k:</strong>
  <%= @ohm_hearing.ohm_r3k %>
</p>

<p>
  <strong>Ohm l4k:</strong>
  <%= @ohm_hearing.ohm_l4k %>
</p>

<p>
  <strong>Ohm r4k:</strong>
  <%= @ohm_hearing.ohm_r4k %>
</p>

<p>
  <strong>Ohm l6k:</strong>
  <%= @ohm_hearing.ohm_l6k %>
</p>

<p>
  <strong>Ohm r6k:</strong>
  <%= @ohm_hearing.ohm_r6k %>
</p>

<p>
  <strong>Ohm l8k:</strong>
  <%= @ohm_hearing.ohm_l8k %>
</p>

<p>
  <strong>Ohm r8k:</strong>
  <%= @ohm_hearing.ohm_r8k %>
</p>

<%= link_to 'Edit', edit_ohm_hearing_path(@ohm_hearing) %> |
<%= link_to 'Back', ohm_hearings_path %>
