<%= form_for(@psych_report) do |f| %>
  <% if @psych_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@psych_report.errors.count, "error") %> prohibited this psych_report from being saved:</h2>

      <ul>
      <% @psych_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :research_id %><br>
    <%= f.text_field :research_id %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.check_box :grade %>
  </div>
  <div class="field">
    <%= f.label :examiner %><br>
    <%= f.number_field :examiner %>
  </div>
  <div class="field">
    <%= f.label :date_of_evaluation %><br>
    <%= f.date_select :date_of_evaluation %>
  </div>
  <div class="field">
    <%= f.label :gave_consent %><br>
    <%= f.check_box :gave_consent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
