<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi weight:</strong>
  <%= @bsdi_measurement.bsdi_weight %>
</p>

<p>
  <strong>Bsdi height:</strong>
  <%= @bsdi_measurement.bsdi_height %>
</p>

<p>
  <strong>Bsdi waist:</strong>
  <%= @bsdi_measurement.bsdi_waist %>
</p>

<p>
  <strong>Bsdi waist risk:</strong>
  <%= @bsdi_measurement.bsdi_waist_risk %>
</p>

<p>
  <strong>Bsdi hips:</strong>
  <%= @bsdi_measurement.bsdi_hips %>
</p>

<p>
  <strong>Bsdi weight belief:</strong>
  <%= @bsdi_measurement.bsdi_weight_belief %>
</p>

<p>
  <strong>Bsdi bmi:</strong>
  <%= @bsdi_measurement.bsdi_bmi %>
</p>

<p>
  <strong>Bsdi bmi category:</strong>
  <%= @bsdi_measurement.bsdi_bmi_category %>
</p>

<p>
  <strong>Bsdi high risk bmi:</strong>
  <%= @bsdi_measurement.bsdi_high_risk_bmi %>
</p>

<p>
  <strong>Bsdi hypertrophic:</strong>
  <%= @bsdi_measurement.bsdi_hypertrophic %>
</p>

<p>
  <strong>Bsdi disabled:</strong>
  <%= @bsdi_measurement.bsdi_disabled %>
</p>

<%= link_to 'Edit', edit_bsdi_measurement_path(@bsdi_measurement) %> |
<%= link_to 'Back', bsdi_measurements_path %>
