<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_diet_barrier.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi rfc diet:</strong>
  <%= @bsdi_diet_barrier.bsdi_rfc_diet %>
</p>

<p>
  <strong>Bsdi diet barrier unfamililar:</strong>
  <%= @bsdi_diet_barrier.bsdi_diet_barrier_unfamililar %>
</p>

<p>
  <strong>Bsdi diet barrier time:</strong>
  <%= @bsdi_diet_barrier.bsdi_diet_barrier_time %>
</p>

<p>
  <strong>Bsdi diet barrier people:</strong>
  <%= @bsdi_diet_barrier.bsdi_diet_barrier_people %>
</p>

<p>
  <strong>Bsdi diet barrier taste:</strong>
  <%= @bsdi_diet_barrier.bsdi_diet_barrier_taste %>
</p>

<p>
  <strong>Bsdi diet barrier other:</strong>
  <%= @bsdi_diet_barrier.bsdi_diet_barrier_other %>
</p>

<p>
  <strong>Bsdi diet barrier expense:</strong>
  <%= @bsdi_diet_barrier.bsdi_diet_barrier_expense %>
</p>

<%= link_to 'Edit', edit_bsdi_diet_barrier_path(@bsdi_diet_barrier) %> |
<%= link_to 'Back', bsdi_diet_barriers_path %>
