<footer class="footer">
	
	<nav class="nav navbar navbar-left">
		<ul>
			<li><%= link_to "Privacy Policy", '#' %></li>
			<li><%= link_to "Site Map", '#' %></li>
		</ul>
		<ul>
			<li><small>
		 <span><%= link_to image_tag("logo.png", alt: "logo"), root_path %></span>&copy; 2016 Public Safety Medical. All rights reserved.
	</small></li>
		</ul>
	</nav>
	<nav class="nav navbar navbar-right">
		<ul>
			<li><h4><%= image_tag("glyphicons-442-phone-alt.png", alt: "Phone", title: "phone") %> (877)972.1180</h4></li>
		</ul>
		<ul>
			<li><%= link_to image_tag("glyphicons-social-14-e-mail-envelope.png", alt: "Contact Us"), contact_path %></li>
			<li><%= link_to image_tag("glyphicons-social-31-facebook.png", alt: "Facebook"), 'https://www.facebook.com/publicsafetymed' %></li>
			<li><%= link_to image_tag("glyphicons-social-32-twitter.png", alt: "Twitter"), 'https://twitter.com/PublicSafetyMed' %></li>
		</ul>
	</nav>
	
</footer>