<p id="notice"><%= notice %></p>

<p>
  <strong>Bsdi report:</strong>
  <%= @bsdi_tobacco_and_alcohol.bsdi_report_id %>
</p>

<p>
  <strong>Bsdi tobacco:</strong>
  <%= @bsdi_tobacco_and_alcohol.bsdi_tobacco %>
</p>

<p>
  <strong>Bsdi alcohol:</strong>
  <%= @bsdi_tobacco_and_alcohol.bsdi_alcohol %>
</p>

<p>
  <strong>Bsdi binge drinking:</strong>
  <%= @bsdi_tobacco_and_alcohol.bsdi_binge_drinking %>
</p>

<p>
  <strong>Bsdi medication relax:</strong>
  <%= @bsdi_tobacco_and_alcohol.bsdi_medication_relax %>
</p>

<%= link_to 'Edit', edit_bsdi_tobacco_and_alcohol_path(@bsdi_tobacco_and_alcohol) %> |
<%= link_to 'Back', bsdi_tobacco_and_alcohols_path %>
